.test{
    background-color: #37474f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colored_icon{
    color: red;
}

body{
    overflow-x: hidden;
    background-color: #555555;
    color: black;
}

.tasks_card{
    margin-left: 2%;
    margin-right: 2%;
    color: black;
    height: 85vh;
}

.icon{
    font-size: 170%;
    margin-top: 2%;
}

.modal{
    height: 100%;
}

.card_prop{
    margin-top: 2%;
    max-width: 14rem;
    min-width: 12rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card_prop:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.prior_icon{
    margin-left: -47%;
}

.test_color{
    margin-left: -4%;
}


