*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background-color: #555555;
    color: black;
}

.tasks_card{
    margin-left: 2%;
    margin-right: 2%;
    color: black;
    height: 105%;
    background-color: #37474f
}

.cardTask{
    min-height: 198px;
    cursor: move;
}

.icon{
    font-size: 160%;
    margin-top: 2%;
}

.prior_icon{
    margin-left: -47%;
}


